/* 
    Document   : index
    Created on : 21/05/2014, 21:51:18
    Author     : Wilian Cieslak
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

#header{

}

#form{
    padding-left: 100px;
}


.imagem{
    with: 150px;
    height: 220px;
}

#divImagemLogo{
    float: left;
    margin-top: 75px;
}

h1{
    padding-top: 50px;
}

#openForm, #abrirDetalhes11, #abrirDetalhes22, #abrirDetalhes33, #telasNavegacao{
    display: none;
}

#abrirDetalhes1, #abrirDetalhes2, #abrirDetalhes3{
    max-height: 90px;
}

footer{
    text-align: center;
}

#botaoAbrir03{
    padding-top: 10px;
}

.jumbotron{
    height: 100%;
}

#imagens{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 20px;
}

#imgMain, #imgCadastro, #imgMenu, #imgCardapio{
    padding-right: 20px;
}